{%include "../templates.html"%}
<body>
    <div class="container">
        <div class="col">
            <form class="form-register" action={{mode}} method="post">
                {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
                {% csrf_token %}
                <h3 class="text-center"><br>{{title}}</h3>
                <div class="form-group">
                    {{passwd_form.origin.label_tag}}
                    {{passwd_form.origin}}
                </div>
                <div class="form-group">
                    {{passwd_form.new.label_tag}}
                    {{passwd_form.new}}
                </div>
                <a href={{back}} class="btn btn-info">回前頁</a>
                <div>
                    <br>
                    <button type="submit" class="btn btn-warning">提交</button> 
                </div>
            </form>
        </div>
    </div>
</body>