{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Attendance System</title>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--jquery-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <!--style.css-->
    <link href="{% static 'login/css/list.css' %}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="col list">
            <h3 class="text-center"><br>未核准假單</h3>
            <ul class="list-group list">
                {% for n_leave in n_leaves %}
                <a href ="/display_leave/{{n_leave.id}}/" class="list-group-item list-group-item-light list-group-item-action">{{n_leave.user_id.name}} 請假日:{{n_leave.start_time.month}}/{{n_leave.start_time.day}}</a> 
                {% endfor %}
            </ul>
            <h3 class="text-center"><br>未核准加班單</h3>
            <ul class="list-group list">
                {% for n_overtime in n_overtimes %}
                <a href ="/display_overtime/{{n_overtime.id}}/" class="list-group-item list-group-item-light list-group-item-action">{{n_overtime.user_id.name}} 請假日:{{n_overtime.start_time.month}}/{{n_overtime.start_time.day}}</a> 
                {% endfor %}
            </ul>
            <h3 class="text-center"><br>已核准假單</h3>
            <ul class="list-group list">
                {% for leave in leaves %}
                <a href ="/display_leave/{{leave.id}}/" class="list-group-item list-group-item-light list-group-item-action">{{leave.user_id.name}} 請假日:{{leave.start_time.month}}/{{leave.start_time.day}}</a> 
                {% endfor %}
            </ul>
            <h3 class="text-center"><br>已核准加班單</h3>
            <ul class="list-group list">
                {% for overtime in overtimes %}
                <a href ="/dispaly_overtime/{{overtime.id}}/" class="list-group-item list-group-item-light list-group-item-action">{{overtime.user_id.name}} 請假日:{{overtime.start_time.month}}/{{overtime.start_time.day}}</a> 
                {% endfor %}
            </ul>
            <div>
                <br>
                <a href="/index/" class="btn btn-info">回前頁</a>
            </div>
        </div>
    </div>
</body>
</html>