{%include "../templates.html"%}
<body>
    <div class="container">
        <div class="col">
            <form class="form-register" action="/leave/{{id}}/" method="post">
                {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
                {% csrf_token %}
                <h3 class="text-center"><br>假單申請</h3>
                <p>時間可自行微調</p>
                <div class="row">
                    <div class="form-group col-4">
                        {{leave_form.year.label}}
                        {{leave_form.year}}
                    </div>
                    <div class="form-group col-4">
                        {{leave_form.month.label}}
                        {{leave_form.month}}
                    </div>
                    <div class="form-group col-4">
                        {{leave_form.day.label}}
                        {{leave_form.day}}
                    </div>
                </div>
                <div class="form-group">
                    {{leave_form.start.label_tag}}
                    {{leave_form.start}}
                </div>
                <div class="form-group">
                    {{leave_form.end.label_tag}}
                    {{leave_form.end}}
                </div>
                <div class="form-group">
                    {{leave_form.category.label_tag}}
                    {{leave_form.category}}
                </div>
                <div class="form-group">
                    {{leave_form.other_reason.label_tag}}
                    {{leave_form.other_reason}}
                </div>
                <div class="form-group">
                    {{leave_form.special.label_tag}}
                    {{leave_form.special}}
                </div>
                <a href="/leave_list/" class="btn btn-info">回假單列表</a>
                <div>
                    <br>
                    <button type="submit" class="btn btn-warning">提交</button> 
                </div>
            </form>
        </div>
    </div>
    <script>
        $(function () {
            $("#id_start").datetimepicker( {
                format:'Y-m-d H:i:00',});
            $("#id_end").datetimepicker( {
                format:'Y-m-d H:i:00',});
            });
    </script>
</body>