{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Attendance System</title>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--jquery-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <!--style.css-->
    <link href="{% static 'login/css/list.css' %}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="col list">
            <div class="menu-group d-grid gap-2 menu-group">
                <br>
                <a href={{href}} class="btn btn-warning">{{apply}}</a>
            </div>
            <h4 class="text-center"><br>{{unchecked}}</h4>
            <ul class="list-group list">
                {% for n_check in n_checks %}
                <a href ="/display_{{title}}/{{n_check.id}}/" class="list-group-item list-group-item-light list-group-item-action">請假日:{{n_check.start_time.month}}/{{n_check.start_time.day}}</a> 
                {% endfor %}
            </ul>
            <h4 class="text-center"><br>{{checked}}</h4>
            <ul class="list-group list">
                {% for check in checks %}
                <a href ="/display_{{title}}/{{check.id}}/" class="list-group-item list-group-item-light list-group-item-action">請假日:{{check.start_time.month}}/{{check.start_time.day}}</a> 
                {% endfor %}
            </ul>
            <div class="list">
                <br>
                <a href="/index/" class="btn btn-info">回前頁</a>
            </div>
        </div>
    </div>
</body>
</html>