{%include "../templates.html"%}
<body>
    <div class="container">
        <div class="col">
            <form class="form-login" action="/login/" method="post">
                {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
                {% csrf_token %}
                <div>
                    <a href="/set_admin/" class="btn btn-outline-light">Set admin</a>
                </div>
                <h3 class="text-center">Login</h3>
                <div class="form-group">
                    <label for="id_user_id">ID：</label>
                    <input type="text" name="user_id" id="user_id" class="form-control" placeholder="user id" autofocus required> 
                </div>
                <div class="form-group">
                    <label for="id_password">password:</label>
                    <input type="password" name="passwd" id="passwd" class="form-control" placeholder="password" required>
                </div>
                <div>
                    <br>
                    <button type="submit" class="btn btn-warning">Log in</button>
                </div>
            </form>
        </div>
    </div>
</body>