{%include "../templates.html"%}
<body>
    <div class="container">
        <div class="col">
            <form class="form-register" action="/overtime/{{id}}/" method="post">
                {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
                {% csrf_token %}
                <h3 class="text-center"><br>加班申請</h3>
                <p>時間可自行微調</p>
                <div class="row">
                    <div class="form-group col-4">
                        {{overtime_form.year.label}}
                        {{overtime_form.year}}
                    </div>
                    <div class="form-group col-4">
                        {{overtime_form.month.label}}
                        {{overtime_form.month}}
                    </div>
                    <div class="form-group col-4">
                        {{overtime_form.day.label}}
                        {{overtime_form.day}}
                    </div>
                </div>
                <div class="form-group">
                    {{overtime_form.start.label_tag}}
                    {{overtime_form.start}}
                </div>
                <div class="form-group">
                    {{overtime_form.end.label_tag}}
                    {{overtime_form.end}}
                </div>
                <div class="form-group">
                    {{overtime_form.reason.label_tag}}
                    {{overtime_form.reason}}
                </div>
                <a href="/overtime_list/" class="btn btn-info">回加班列表</a>
                <div>
                    <br>
                    <button type="submit" class="btn btn-warning">提交</button> 
                </div>
            </form>
        </div>
    </div>
    <script>
        $(function () {
            $("#id_start").datetimepicker( {
                format:'H:i',});
            $("#id_end").datetimepicker( {
                format:'H:i',});
            });
    </script>
</body>