{%include "../templates.html"%}
<body>
    <div class="container">
        <div class="col table-group">
            <h3 class="text-center"><br>個人資料</h3>
            <table class="table table-secondary table-hover table-responsive">
                <tr>
                    <td>姓名:</td><td>{{user.name}}</td>
                </tr>
                <tr>
                    <td>帳號:</td><td>{{user.user_id}}</td>
                </tr>
                <tr>
                    <td>E-mail:</td><td>{{user.email}}</td>
                </tr>
                <tr>
                    <td>部門:</td><td>{{user.department}}</td>
                </tr>
                <tr>
                    <td>底薪:</td><td>{{user.salary}}</td>
                </tr>
                <tr>
                    <td>到職日:</td><td>{{user.on_job.year}},{{user.on_job.month}},{{user.on_job.day}}</td>
                </tr>
                <tr>
                    <td>特休:</td><td>{{user.annual}}日, 剩餘{{user.annual_left}}日</td>
                </tr>
            </table>
            <h4 class="text-center"><br>健保</h4>
            <table class="table table-secondary table-hover table-responsive">
                <tr>
                    <td>生效日期:</td><td>{{user.on_job.year}},{{user.on_job.month}},{{user.on_job.day}}</td><td>等級：</td><td>{{user.health}}</td>
                </tr>
            </table>
            <h4 class="text-center"><br>勞保</h4>
            <table class="table table-secondary table-hover table-responsive">
                <tr>
                    <td>生效日期:</td><td>{{user.on_job.year}},{{user.on_job.month}},{{user.on_job.day}}</td><td>等級：</td><td>{{user.labor}}</td>
                </tr>
            </table>
            <h4 class="text-center"><br>退休金</h4>
            <table class="table table-secondary table-hover table-responsive">
                <tr>
                    <td>生效日期:</td><td>{{user.on_job.year}},{{user.on_job.month}},{{user.on_job.day}}</td><td>等級：</td><td>{{user.retirement}}</td>
                    <td>自提撥:</td><td>{{user.retire_self}}</td>
                </tr>
            </table>
            <a href={{back}} class="btn btn-info">回前頁</a>
            {% if back == "/index/" %}
                <a href="/change_passwd/" class="btn btn-warning">更改密碼</a>
            {% endif %}
            {% if back == "/hr/profile/" %}
                {% if user.status != 1 %}
                    <a href="/hr/edit/{{id}}/" class="btn btn-warning">修改資料</a>
                    <a href="/hr/status/{{id}}/1/" class="btn btn-danger">離職</a>
                {% endif %}
                {% if user.status == 0 %}
                    <a href="/hr/status/{{id}}/2/" class="btn btn-secondary">留職停薪</a>
                {% endif %}
                {% if user.status == 2 %}
                    <a href="/hr/status/{{id}}/0/" class="btn btn-success">復職</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</body>