{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Attendance System</title>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--jquery-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <!--style.css-->
    <link href="{% static 'login/css/table.css' %}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="col table-group">
            <h3 class="text-center"><br>個人資料</h3>
            <table class="table table-secondary table-hover table-responsive">
                <tr>
                    <td>姓名:</td><td>{{user.name}}</td>
                </tr>
                <tr>
                    <td>帳號:</td><td>{{user.user_id}}</td>
                </tr>
                <tr>
                    <td>E-mail:</td><td>{{user.email}}</td>
                </tr>
                <tr>
                    <td>部門:</td><td>{{user.department}}</td>
                </tr>
                <tr>
                    <td>底薪:</td><td>{{user.salary}}</td>
                </tr>
                <tr>
                    <td>到職日:</td><td>{{user.on_job}}</td>
                </tr>
                <tr>
                    <td>特休:</td><td>{{annual}}日</td>
                </tr>
            </table>
            <a href={{back}} class="btn btn-info">回前頁</a>
            {% if back == "/index/" %}
                <a href="/change_passwd/" class="btn btn-warning">更改密碼</a>
            {% endif %}
            {% if back == "/hr/profile/" %}
                <a href="/hr/edit/{{id}}/" class="btn btn-secondary">修改資料</a>
            {% endif %}
        </div>
    </div>
</body>
</html>