{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Attendance System</title>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--jquery-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <!--style.css-->
    <link href="{% static 'login/css/register.css' %}" rel="stylesheet"/>
    <!--time selector-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="col">
            <form class="form-register" action="/register/" method="post">
                {% csrf_token %}
                <h3 class="text-center"><br>SignUp</h3>
                <div class="form-group">
                    {{register_form.name.label_tag}}
                    {{register_form.name}}
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        {{register_form.user_id.label_tag}}
                        {{register_form.user_id}}
                    </div>
                    <div class="col-6">
                        {{register_form.passwd.label_tag}}
                        {{register_form.passwd}}
                    </div>
                </div>
                <div class="form-group">
                    {{register_form.email.label_tag}}
                    {{register_form.email}}
                    {{register_form.department.label_tag}}
                    {{register_form.department}}
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        {{register_form.on_job.label_tag}}
                        {{register_form.on_job}} 
                    </div>
                    <div class="col-6">
                        {{register_form.salary.label_tag}}
                        {{register_form.salary}}
                    </div>
                </div>
                <div class="form-group">
                    <p>Identity:</p>
                    {{register_form.staff}}
                    {{register_form.staff.label}}
                    {{register_form.manager}}
                    {{register_form.manager.label}}
                    {{register_form.hr}}
                    {{register_form.hr.label}}
                    {{register_form.boss}}
                    {{register_form.boss.label}}
                </div>
                <div class="justify-content-md-end d-md-flex">
                    <br>
                    <button type="submit" class="btn btn-warning">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(function () {
            $("#id_on_job").datetimepicker( {
                format:'Y-m-d',});
            });
    </script>
</body>
</html>