{%include "../templates.html"%}
<body>
    <div class="container">
        <div class="col">
            <form class="form-login" action="/check_in_out/" method="post">
                {% if message == "Wrong ID." %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% elif message != "" %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
                {% csrf_token %}
                <h3 class="text-center">Login</h3>
                <div class="form-group">
                    <label for="id_user_id">ID：</label>
                    <input type="text" name="user_id" id="user_id" class="form-control" placeholder="user id" autofocus required> 
                </div>
                <div>
                    <a href="/hr/menu/" class="btn btn-info">回前頁</a>
                </div>
                <div>
                    <br>
                    <button type="submit" class="btn btn-warning float-right">簽到</button>
                </div>
            </form>
        </div>
    </div>
</body>