{%include "../templates.html" %}
<body>
    <div class="container">
        <div class="col list">
            <form class="form-day" action="/hr/set_day_off/" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-6 col-form-label col-form-label-sm">
                        {{day_form.day}}
                    </div>
                    <div class="form-group col-3 col-form-label col-form-label-sm">
                        {{day_form.sort}}
                    </div>
                    <div class="form-group col-3">
                        <button type="submit" class="btn btn-warning">設定</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col list">
            <a href="/hr/menu/" class="btn btn-info">回前頁</a>
            <ul class="list-calender list">
                {% for off in offs %}
                <div class="row d-flex justify-content-end">
                    <ul class="col-8 list-group-item list-group-item-light list-group-item-action">
                        {{off.day}} {{off.sort}}     <a href="/hr/delete_off/{{off.id}}/" class="btn btn-outline-danger">Del</a>
                    </ul>
                </div>
                {% endfor %}
            </ul>
        </div>
        <script>
            $(function () {
                $("#id_day").datetimepicker( {
                    format:'Y-m-d',});
                });
        </script>
    </div>
</body>