{%include "../templates.html"%}
<body>
    <div class="container">
        <div class="col">
            <div class="d-grid gap-2 menu-group">
                <h3 class="text-center">人事管理列表</h3>
                <a href='/index/' class="btn btn-info">回功能列表</a>
                <a href='/hr/profile/' class="btn btn-secondary">基本資料管理</a>
                <a href='/hr/register/' class="btn btn-secondary">人事資料建檔</a>
                <a href='/hr/attendance/' class="btn btn-secondary">出勤管理</a>
                <a href='/hr/leave/' class="btn btn-secondary">請假管理</a>
                <a href='/hr/overtime/' class="btn btn-secondary">加班管理</a>
                <a href='/hr/salary/' class="btn btn-secondary">薪資計算與調整</a>
                <a href='/hr/bonus' class="btn btn-secondary">年節獎金管理</a>
                <a href='/hr/change_passwd/' class="btn btn-secondary">更改薪資密碼</a>
                <a href='/logout/' class="btn btn-danger">登出</a>
                <a href='/check_in_out/' class="btn btn-outline-dark">打卡頁面</a>
            </div>
        </div>
    </div>
</body>