{%include "../templates.html"%}
<body>
    {% if mode == "leave" or mode == "overtime" %}
    {%include "../hr/month.html"%}
    {% endif %}
    <div class="container">
        <div class="col list">
            <h4 class="text-center"><br>{{title}}</h4>
            <ul class="list-group list">
                {% for object in objects %}
                <a href ="{{href}}/{{object.id}}/" class="list-group-item list-group-item-light list-group-item-action">
                    {% if mode == "user" %}
                    {{object.department}}-{{object.name}}
                    {% endif %}
                    {% if mode == "leave" %}
                    {{object.start}}-{{object.category}}
                    {% endif %}
                    {% if mode == "overtime" %}
                    {{object.month}}/{{object.day}}-{{object.reason}}
                    {% endif %}
                    {% if mode == "total"%}
                    {{object.year}}年{{object.month}}月
                    {% endif %}
                </a> 
                {% endfor %}
                {% if stops %}
                    <h4 class="text-center"><br>留職停薪</h4>
                    {% for stop in stops %}
                    <a href ="{{href}}/{{stop.id}}/" class="list-group-item list-group-item-light list-group-item-action">
                        {% if mode == "user" %}
                        {{stop.department}}-{{stop.name}}
                        {% endif %}
                    </a> 
                    {% endfor %}
                {% endif %}
            </ul>
            <div class="list">
                <br>
                {%if user.status != 1 %}
                <a href="{{back}}" class="btn btn-info">回前頁</a>
                {% else %}
                <a href="/hr/profile_leave/{{user.id}}/" class="btn btn-info">回前頁</a>
                {% endif %}
            </div>
        </div>
    </div>
</body>