{%include "../templates.html"%}
<body>
    <div class="container">
        <div class="col list">
            <h4 class="text-center"><br>{{title}}</h4>
            <ul class="list-group list">
                {% for object in objects %}
                <a href ="{{href}}/{{object.id}}/" class="list-group-item list-group-item-light list-group-item-action">
                    {% if mode == "user" %}
                    {{object.department}}-{{object.name}}
                    {% endif %}
                    {% if mode == "leave" %}
                    {{object.start}}-{{object.category}}
                    {% endif %}
                    {% if mode == "overtime" %}
                    {{object.date}}-{{object.reason}}
                    {% endif %}
                </a> 
                {% endfor %}
            </ul>
            <div class="list">
                <br>
                <a href="{{back}}" class="btn btn-info">回前頁</a>
            </div>
        </div>
    </div>
</body>