{%include "../templates.html"%}
<body>
    <div class="container">
        <div class="col">
            <form class="form-register" action={{action}} method="post">
                {% csrf_token %}
                <h3 class="text-center"><br>{{title}}</h3>
                <div class="form-group">
                    {{register_form.name.label_tag}}
                    {{register_form.name}}
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        {{register_form.user_id.label_tag}}
                        {{register_form.user_id}}
                    </div>
                    <div class="col-6">
                        {{register_form.passwd.label_tag}}
                        {{register_form.passwd}}
                    </div>
                </div>
                <div class="form-group">
                    {{register_form.email.label_tag}}
                    {{register_form.email}}
                </div>
                <div class="form-group">
                    {{register_form.department.label_tag}}
                    {{register_form.department}}
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        {{register_form.on_job.label_tag}}
                        {{register_form.on_job}} 
                    </div>
                    <div class="col-6">
                        {{register_form.salary.label_tag}}
                        {{register_form.salary}}
                    </div>
                </div>
                <div class="form-group">
                    <p>Identity:</p>
                    {{register_form.staff}}
                    {{register_form.staff.label}}
                    {{register_form.manager}}
                    {{register_form.manager.label}}
                    {{register_form.hr}}
                    {{register_form.hr.label}}
                    {{register_form.boss}}
                    {{register_form.boss.label}}
                </div>
                <div class="form-group">
                    {{register_form.self_percent.label_tag}}(%)
                    {{register_form.self_percent}}
                </div>
                <a href={{back}} class="btn btn-info">回前頁</a>
                <div>
                    <br>
                    <button type="submit" class="btn btn-warning">Submit</button> 
                </div>
            </form>
        </div>
    </div>
    <script>
        $(function () {
            $("#id_on_job").datetimepicker( {
                format:'Y-m-d',});
            });
    </script>
</body>