{%include "../templates.html"%}
<body>
    <div class="container">
        <div class="col">
            <form class="form-login" action="/hr/salary_pass/" method="post">
                {% if message == "Wrong ID." or message == "Wrong password" %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% elif message != "" %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
                {% csrf_token %}
                <h3 class="text-center">請輸入薪資密碼</h3>
                <div class="form-group">
                    <label for="id_passwd">Password：</label>
                    <input type="password" name="passwd" id="passwd" class="form-control" placeholder="password" autofocus required> 
                </div>
                <div>
                    <a href="/hr/menu/" class="btn btn-info">回前頁</a>
                </div>
                <div>
                    <br>
                    <button type="submit" class="btn btn-warning float-right">確認</button>
                </div>
            </form>
        </div>
    </div>
</body>